@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* naivation */
.navsec{
    height: 50rem;
    background-image:url(/Resources/images/cloudy-mountains.jpg);
    background-size: 100%;
    
}
.navbar{
    padding:2rem ;
}
.nav-link{
    color:rgb(12, 12, 87);
    padding-right: 2rem;
    font-family: 'Roboto Mono', monospace;
}
.navbar-brand{
    padding-left: 2rem;
    color: rgb(12, 12, 87);
    font-family: 'Roboto Mono', monospace;
}
.navbar-nav{
    margin-left: auto;
}
/* navigation */

/* main body */

h1{
    padding-top: 8rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.abtme{
    height: 50rem;
    background-color: bisque;
}
.abtme1{
    padding-top: 20%;
    text-align:center ; 
    margin:0 auto;
    font-family: 'Roboto Mono', monospace;
}
/* main body */
/* about me */

.lead,h3{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

/* about me */
/* services */
.service{
    text-align: center;
    height:50rem ;
    font-family: 'Roboto Mono', monospace;
}
.h2{
    padding-top: 20%;
}
/* services */
/* footer */

.socials{
    padding-left: 1rem;
    color:black;
    font-family: 'Roboto Mono', monospace;
}
.socials:hover{
    color: aqua;
}
footer{
    font-family: 'Roboto Mono', monospace;
}
/* footer */